* {
  margin: 0;
  padding: 0;
}

.a img {
  padding: auto;
}
.a button {
  padding: 1em 4em;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
  float: right;
  cursor: pointer;
  /* box-shadow: 1px 1px hsl(208, 11%, 55%) ; */
}

.a button:hover {
  color: gray;
}

.a {
  font-family: Open Sans;
  font-size: 18px;
  background-image: url("bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
}

header {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.one {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  flex-wrap: wrap;
}
.paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
}
.words1 {
  display: grid;
  /* width: 25%; */
}
.words1 h1 {
  font-weight: 700;
  font-size: 35px;
  font-family: Poppins;
  width: 400px;
}
.words1 p {
  margin-top: 30px;
  font-weight: 700;
  width: 100%;
  min-width: 300px;
}
.words1 button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1em 2em;
  border: none;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 70%;
  margin-left: 0;
  margin-right: auto;
}
.words1 button:hover {
  background-color: hsl(322, 88%, 74%);
}
.image1 {
  width: 50%;
}
.image1 img {
  width: 100%;
  min-width: 300px;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b {
  display: grid;
  background-color: white;
}
.grow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.words2 {
  padding-left: 10%;
}
.words2 h1 {
  font-family: Poppins;
  font-weight: 700;
  padding-bottom: 10px;
}
.words2 p {
  width: 60%;
  min-width: 45%;
  font-family: Open Sans;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
.image2 img {
  width: 100%;
  height: auto;
}

.flowing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.words3 {
  padding-left: 30%;
}
.words3 h1 {
  font-family: Poppins;
  font-weight: 700;
  padding-bottom: 10px;
}
.words3 p {
  width: 90%;
  min-width: 45%;
  font-family: Open Sans;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
.image3 img {
  width: 100%;
  height: auto;
  padding-left: 25%;
}

.your {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.words4 {
  padding-left: 10%;
}
.words4 h1 {
  font-family: Poppins;
  font-weight: 700;
  padding-bottom: 10px;
}
.words4 p {
  width: 60%;
  min-width: 45%;
  font-family: Open Sans;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
.image4 img {
  width: 100%;
  height: auto;
}

.ready {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  position: relative;
  top: 50%;
}

.ready h1 {
  font-family: Poppins;
  font-weight: 700;
  padding-bottom: 10px;
}
.ready button {
  margin-top: 30px;
  padding: 1em 3em;
  border: none;
  border-radius: 25px;
  background-color: hsl(322, 100%, 66%);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 55%;
}
.ready button:hover {
  background-color: hsl(322, 88%, 74%);
}

.c {
  background-color: hsl(192, 100%, 9%);
  font-family: Open Sans;
  font-size: 12px;
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  padding-top: 15%;
  padding-bottom: 10%;
}
.col1 {
  width: 40%;
}
.col1 img {
  filter: brightness(0) invert(1);
  width: 200px;
  padding-bottom: 10px;
}

.location,
.mail,
.phone {
  display: flex;
}
.location div,
.mail div,
.phone div {
  padding-right: 10px;
  padding-bottom: 10px;
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 40%;
}
.col2a {
  display: grid;
}
.col2b {
  display: grid;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 5px;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.col3 {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.col3 a {
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}
.col3 a:hover {
  color: hsl(322, 88%, 74%);
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
}

@media only screen and (max-width: 1000px) {
  .one,
  .paragraph,
  .words1,
  .image1 img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .words1 button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
@media only screen and (max-width: 750px) {
  .grow,
  .flowing,
  .your
  .words2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: auto;
    padding-left: 0;
  }
  header img {
    width: 20%;
    min-width: 100px;
    height: auto;
  }
  header {
    margin-bottom: 50px;
  }
  .ready {
    margin-left: 5%;
    margin-right: 5%;
    top: 30%
  }
  .words2 p, .words3 p, .words3, .words3 h1, .words4 h1, .words4 p, .words4 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    padding: auto;
    padding-left: 0;
  }
  .grow, .your {
    flex-direction: column-reverse;
  }
  .image3 img {
    padding-left: 0;
  }
  .footer {
    flex-direction: column;
    justify-content: left;
    padding-left: 5%;
    align-items: initial;
  }
  .col2, a {
    padding-top: 0;
    align-items: initial;
    flex-direction: column;
    padding-left: 0;
  }
  .col3 {
    width: auto;
  }
  .col1 img {
    padding-top: 35px;
  }
  .words3 h1 {
    margin: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .a button {
    padding: 3px, 15px;
  }
  .words1 h1 {
    width: auto;
    font-size: 25px;
  }
  .image1, .image3 {
    width: auto;
  }
  .image2 img, .image3 img {
    margin: 5%;
  }
  .words3, .ready button {
    margin: auto;
  }
  .ready, .ready button {
    width: auto;
   
  }
  .ready h1 {
    font-size: 18px;
  }
  .a {
    background-image: url("bg-hero-mobile.svg");
  }
}